.header {
  margin-bottom: 52px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-top: 35px;
  margin-bottom: 68px;
}
.header__content__left {
  display: flex;
}
.header__content__left > a {
  text-decoration: none;
}
.header__content__logo {
  color: #3a3a3a;
  margin: 0;
  font-size: 18px;
}
.header__content__logo > a {
  list-style-type: none;
}
.header__content ul {
  display: flex;
  list-style-type: none;
  padding-left: 149px;
}
.header__content__nav {
  text-align: center;
  font-size: 16px;
  color: #cecece;
  text-decoration: none;
  margin-right: 40px;
}
.header__content__nav:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #3a3a3a;
}
.header__content__right {
  display: flex;
}
.header__content__right img {
  position: relative;
  left: -9px;
}
.header__content__right__phone-number {
  font-size: 16px;
  font-weight: bold;
  color: #3a3a3a;
  padding-top: 15px;
  padding-right: 26px;
}
.header__content__right__btn {
  background-color: transparent;
  color: #3a3a3a;
  border-color: #3a3a3a;
  padding: 0 4px 3px 0;
  width: 200px;
  height: 50px;
}
.header__content__right__btn:hover {
  background-color: #3a3a3a !important;
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}

.bread-crumbs {
  display: flex;
}
.bread-crumbs > a {
  font-size: 13px;
  color: #3a3a3a;
  text-decoration: none;
  margin-right: 8px;
}
.bread-crumbs > a:last-child {
  color: #cecece;
}
.bread-crumbs > span {
  border-bottom: 1px solid black;
  width: 9px;
  position: relative;
  bottom: 7px;
  left: -3px;
  display: block;
}

.feedBack {
  font-family: Roboto, sans-serif;
  position: fixed;
  width: 739px;
  background-color: #3a3a3a;
  text-align: center;
  padding-top: 48px;
  z-index: 999;
  top: 30%;
  left: 29%;
  display: none;
}
.feedBack > form > ul {
  list-style-type: none;
  padding-right: 7px;
}
.feedBack > h1 {
  font-size: 24px;
  font-weight: bold;
  color: #cecece;
  margin-bottom: 21px;
  padding-right: 16px;
}
.feedBack__enterText {
  border: none;
  width: 335px;
  font-size: 14px;
  color: #cecece;
  padding-bottom: 7px;
  margin-bottom: 6.5px;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  outline: none;
}
.feedBack__enterText::placeholder {
  color: #cecece;
}
.feedBack__checkbox {
  border-bottom: none;
  width: auto;
  position: absolute;
  z-index: -1;
  opacity: 0;
  background-color: #ffffff;
}
.feedBack__checkbox + label {
  position: relative;
  align-items: center;
  padding-left: 27px;
  font-size: 14px;
  color: #cecece;
}
.feedBack__checkbox + label:before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid #3a3a3a;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  background-color: #ffffff;
}
.feedBack__checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.feedBack__btn {
  margin-top: 23px;
  margin-bottom: 50px;
  border: solid 1px #3a3a3a;
  font-size: 14px;
  font-weight: bold;
  color: #3a3a3a;
  padding: 18px 85px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  transition: none !important;
}
.feedBack__close-form {
  position: relative;
  bottom: 83px;
  left: 346px;
  cursor: pointer;
  border: 1px;
  background-color: transparent;
  outline: none;
}

.price-range-field {
  font-size: 18px;
  font-weight: bold;
  color: #3a3a3a;
  outline: none;
  border: none;
  cursor: default;
  position: relative;
}
.price-range-field:first-child {
  left: 80px;
}
.price-range-field:last-child {
  left: 428px;
}

.ui-slider {
  position: relative;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 7px;
  height: 7px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #3a3a3a;
  top: -4px;
}
.ui-slider .ui-slider-handle:focus {
  outline: none;
}

.ui-slider-horizontal, ui-slider-range {
  height: 1px;
  background-color: #cecece;
  width: 303px;
  bottom: 11px;
  left: 255px;
}

.ui-widget-header {
  height: 3px;
  background: #333333;
  color: #333333;
  font-weight: bold;
  position: relative;
}

.footer {
  background-color: #3a3a3a;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 223px;
}
.footer__content > a {
  text-decoration: none;
}
.footer__content__logo {
  color: #ffffff !important;
}
.footer__content ul {
  display: flex;
  list-style-type: none;
  padding-left: 180px;
}
.footer__content img {
  position: relative;
  left: 55px;
}
.footer__content__nav {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding-right: 40px;
}
.footer__content__nav:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #ffffff;
}
.footer__content__phone-number {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.footer__content__btn {
  background-color: #3a3a3a !important;
  color: #ffffff !important;
  border-color: white !important;
}
.footer__content__btn:hover {
  background-color: #FFFFFF !important;
  color: #3a3a3a !important;
  border-color: #3a3a3a !important;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1480px;
  margin: 0 auto;
}

.container2 {
  width: 1600px;
  margin: 0 auto;
}

.btn {
  border: solid 1px #3a3a3a;
  font-size: 14px;
  font-weight: bold;
  color: #3a3a3a;
  padding: 15px 37px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  transition: none !important;
}

.headers {
  font-size: 32px;
  font-weight: bold;
  color: #3a3a3a;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  color: #3a3a3a;
  text-decoration: none;
}
.logo > a {
  text-decoration: none;
  color: #3a3a3a;
}

.sections {
  font-size: 16px;
  color: #cecece;
}

.active {
  text-shadow: 1px 0 0 currentColor;
  color: #3a3a3a;
}

.hide {
  display: none;
}

.filter-projects__param {
  display: flex;
  justify-content: space-between;
  padding-bottom: 61px;
  border-bottom: 1px solid #cecece;
}

.filter-projects__param__left {
  margin-top: 40px;
}

.filter-projects__param__left > ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.filter-projects__param__left > ul > li {
  margin-right: 40px;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
}

.filter-projects__param__left > ul > li:first-child {
  font-size: 16px !important;
  color: #cecece !important;
  cursor: auto !important;
}

.filter-projects__param__left__button {
  background-color: #3a3a3a;
  color: white;
  margin-top: 37px;
}

.filter-projects__param__left__button-reset {
  background-color: #FFFFFF !important;
  color: #3a3a3a !important;
  border-color: #3a3a3a !important;
  margin-left: 25px;
}

.filter-projects__param__right {
  margin-top: 28px;
}

.filter-projects__param__right > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}

.filter-projects__param__right > ul > li:last-child {
  padding-left: 217px;
}

.filter-projects__param__right > ul > li > p > button {
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  margin-left: 59px;
  position: relative;
  top: 9px;
  cursor: pointer;
}

.filter-projects__param__right > ul > li > p > button:last-child {
  margin-left: 0;
}

.filter-projects__param__right > ul > li > p > button > img {
  height: 27px;
  transform: rotate(180deg);
}

.filter-projects__param__right > ul > li > p > input {
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.main__content__sortBy {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
  margin-bottom: 66px;
}

.main__content__sortBy__left {
  display: flex;
}

.main__content__sortBy__left > p {
  margin-right: 23px;
}

.main__content__sortBy__left > span {
  border-right: 1px solid;
  border-bottom: 1px solid;
  position: relative;
  width: 8px;
  height: 8px;
  left: 130px;
  display: block;
  transform: rotate(45deg);
  border-color: gray;
  top: 2px;
  cursor: pointer;
}

.main__content__sortBy__left > select {
  border: none;
  border-bottom: 1px solid #333333;
  font-size: 16px;
  color: #3a3a3a;
  outline: none;
  padding-right: 69px;
  appearance: none;
  cursor: pointer;
}

.main__content__found {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-column-gap: 457px;
}

.main__content__found__house {
  list-style-type: none;
  width: 407px;
  margin-bottom: 112px;
}

.main__content__found__house > li > img {
  width: 407px;
  height: 246px;
  padding-bottom: 18px;
}

.main__content__found__about-house {
  display: flex;
  justify-content: space-between;
}

.main__content__found__about-house__left-side > a > .btn {
  background-color: #3a3a3a !important;
  color: #FFFFFF !important;
}

.main__content__found__about-house__text-bold {
  font-size: 20px;
  font-weight: bold;
  color: #3a3a3a;
  padding: 14px 0 23px 0;
}

.main__content__found__about-house__text {
  font-size: 16px;
  color: #3a3a3a;
  padding-bottom: 9px;
}

.main__content__found__about-house__right-side {
  text-align: right;
}

.main__content__found__about-house__right-side > .btn {
  margin-top: 61px;
}

/*# sourceMappingURL=projects.css.map */
